# Ignore dataset contents inside data subfolders
data/raw/*
data/processed/*

# Keep gitkeep placeholders so directory structures exist on GitHub
!data/**/.gitkeep

# Ignore temporary R build artifacts
Rplots.pdf
.Rproj.user
.Rhistory
.RData