# Ignore dataset contents inside data subfolders
data/raw/*
data/processed/*

# Exception: keep tracking folder placeholders on GitHub
!data/**/.gitkeep

# Ignore temporary R build artifacts
Rplots.pdf
.Rproj.user
.Rhistory
.RData